@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.5s ease-in-out;
}

#menu {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3) ;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
}

.edit-open {
    transform-origin: top left;
    right: -400px !important;
}

#menu > img {
    position: relative;
    top: 12px;
    right: -12px;
    max-width: 35px;
}

#menu:hover {
    transform: scale(1.1);
}

#edit {
    position: absolute;
    width: 400px !important;
    height: 500px !important;
    right: 20px;
    top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3) ;
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
}

h1 {
    font-family: 'Alata', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 18pt;
    color:black ;
}

.color-list {
    list-style-type: none;
    counter-reset: color;
    padding: 0;
}

.color-input {
    width: 50px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    height: 12pt;
    text-align: center;
}

.color-input:focus {
    border: none;
    border-bottom: 1px solid black;
    outline:0;
}

.color-list > li {
    
    position: relative;
    right: 0;
    top: 0;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    width: 75%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    --color: black;
    overflow: hidden;
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.color-list > li:before {
    content: '';
    background-color: var(--color);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    z-index: 10;
}

.color-list > li:after {
    content: '';
    background-image: linear-gradient(90deg, white 80%, rgba(255, 255, 255, 0));
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 60px;
    z-index: 5;
}

.input-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 0;
    transition: all 0.3s ease-in-out; 
    z-index: 2;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}




.color-settings-icon-background{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: 15px;
    
}

.color-settings-icon {
    position: relative;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
    top: 50%;
    background-color:black;
    transition: margin 0.2s ease-in-out; 
    border-radius: 3px;
    --left-before:12px;
    --left-after: 24px;
    --width: 6px;
    --height: 6px;
    --rotate-before: 0deg;
    --rotate-after: 0deg;
    --top-before: 0;
    --top-after: 0;
}

.color-settings-icon:before, .color-settings-icon:after{
    content: '';
    position: absolute;
    width: var(--width);
    height: var(--height);
    border-radius: 3px;
    background-color: inherit;
    transition: all 0.3s ease-in-out; 
    transform-origin: right center;
}

.color-settings-icon:before{
    left: var(--left-before);
    top: var(--top-before);
    transform: rotate(var(--rotate-before));
}

.color-settings-icon:after{
    left: var(--left-after);
    top: var(--top-after);
    transform: rotate(var(--rotate-after));
}

.edit-icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    right: -70px;
    transition: all 0.4s ease-in-out; 
    --lock-c:  rgb(223, 219, 0);

}

.edit-icon {
    max-width: 25px; 
    margin-left: 20px;
}

.lock-icon{
    background-color: var(--lock-c);
    width: 24px;
    height: 20px;
    border-radius: 5px;
    margin-left: 20px;
    --lock: -12px;
    --height: 1;
    transform: scale(0.8) translateY(3px); 
    transition: all 0.3s ease-in-out; 
}

.lock-icon:after{
    content: '';
    position: absolute;
    background-color: white;
    height: 4px;
    transform: scaleY(var(--height));
    width: 50%;
    top: -4px;
    left: 50%;
    transition: inherit;
    transform-origin: bottom right;
}

.lock-icon:before{
    content: '';
    width: 10px;
    height: 15px;
    position: absolute;
    transform: translateX(-50%);
    border: 3px solid var(--lock-c);
    top: var(--lock);
    left: 49%;
    border-radius: 5px;
    transition: inherit;
    transform-origin: top center;
}

.lock-icon.small{
    display: none;
    position: absolute;
    background-color: grey;
    top: 5px;
    right: 0;
    transform: scale(0.35);
}


.lock-icon.small:after{
    transform: scaleY(0);
}

.lock-icon.small:before{
    content: '';
    border: 3px solid grey;
    top: -8px;
}